@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html{
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, rgba(70,93,213,1) 12%, rgba(45,60,159,1) 41%, rgba(0,5,65,1) 92%);  
    font-family: 'Nunito', sans-serif;
}

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.5);
}

.content-align-center{
    text-align: center;
}

.table-row td{
    padding: 10px;
}

.table-row td > a{
    font-size: smaller;
}

.form input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: inherit;
}

.btn{
    background-color: white;
    color: rgb(45,60,159);
    padding: 10px 20px;
    border: 2px solid rgb(45,60,159);
    border-radius: 20px;
    transition: 0.3s;
}

.btn:hover{
    background-color: rgb(45,60,159);
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(45,60,159);
    border-radius: 20px;
}